{% extends "app_blog/base_new.html" %}

{% block content %}
    <h1 class="blog_header">{{ subtitle }}</h1>
        <article class="post">
            <section>
                <h3>What is it for?</h3>
                <p>This is for private communication in case all other means of communication fail</p>
            </section>
            <section>
                <h3>Who is it for?</h3>
                <p>This is just for a group of wonderful carefully selected people who can try this piece of ...</p>
            </section>
        </article>
{% endblock %}
