<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <!-- 1. Подключаем свой CSS -->
    <link rel="stylesheet" href="{% static 'app_blog/css/new.css' %}">
     <!-- 2. Подключаем внешний шрифт -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext">
    <title>{{ title }}</title>
</head>
<body>
    <header class="page-header">
        <div>
            <a href="/" class="logo-link"><img src="{% static 'app_blog/images/ghostbusters-1.svg' %}" alt="Логотип" width="120"></a>
        </div>
        <div>
            <h1><a href="" class="site-title">First Blog Ever</a></h1>  <!-- класс site-title не работает, перебит классом page-header  -->
        </div>
        <!-- Навигация с классом для стилизации -->
        <nav class="navigation">
            <!-- Основное меню как список (хорошая практика для доступности) -->
            <ul class="nav-list">
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/admin">Admin</a></li>
            </ul>
            <!-- Блок переключения языка (он не является пунктом навигационного меню, поэтому его можно оставить как есть).
            Блок можно дать и рядом с навигацией (отдельный блок)-->
            <div class="language-switcher"> <!-- Стилизация -->
                <a href="?lang=en" title="English"><img src="{% static 'app_blog/images/flag-uk.svg' %}" alt="English" width="24" height="24"></a>
                <a href="?lang=ru" title="Русский"><img src="{% static 'app_blog/images/flag-ru.svg' %}" alt="Русский" width="24" height="24"></a>
                <!-- title=... Когда пользователь наводит курсор на ссылку, появляется текст "English" или "Русский"
                https://flagicons.lipis.dev/ -->
            </div>
        </nav>
    </header>
    <main class="container">
        <div class="row">
            <div class="col">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </main>
    <footer>
    </footer>
</body>
</html>