{% extends "app_blog/base_new.html" %}

{% block content %}
    <h2 class="blog_header">{{ subtitle }}</h2>
    {% for item in posts %} <!-- ← 'posts' это КЛЮЧ из context-словаря / item это каждый объект из posts_items c атрибутами -->
        <article class="post">
            <div>
                <p><em>Автор: {{ item.author }}</em></p>
            </div>
            <time class="date">
                {{ item.published_date }}   <!-- вывод атрибута published_date из posts_items -->
            </time>
            <h2><a href="{% url 'post_detail' pk=item.pk %}" class="new-link" title="Detail View">{{ item.title }}</a></h2>
            <!-- Что это: Генерация URL-адреса по имени маршрута 'post_detail' с передачей первичного ключа.
            Результат: Абсолютный путь к странице конкретного поста
            Разберём по частям:
                'post_detail' — имя маршрута (path name) из urls.py
                pk=item.pk — передача параметра (первичный ключ поста)
                item.pk — уникальный ID поста из базы данных-->
            <p>{{ item.text|linebreaksbr }}</p>
        </article>
    {% endfor %}
{% endblock %}

{# Это однострочный комментарий. Здесь можно писать что угодно, даже с {% %} - ошибки не будет #}
{# в то время как HTML-комментарий (<!-- ... -->) Django-шаблонизатор видит теги {% ... %} и {{ ... }} внутри <!-- ... --> и пытается их выполнить #}

{% comment %}
    Здесь <h2><a href="{% url 'post_detail' pk=item.pk %}" class="new-link">{{ item.title }}</a></h2> происходит следующее:
    {% url 'post_detail' ... %}: Тег url обращается к маршруту по его имени ('post_detail').
    Django идет в urls.py, находит path с name='post_detail' и смотрит на его шаблон: 'post/<int:pk>/'.
    pk=item.pk: Тег видит, что шаблону нужен параметр pk. Он берет значение item.pk (первичный ключ текущего объекта
    в цикле, например, 5) и подставляет его на место <int:pk> в шаблоне URL.
    Результат: На выходе тег {% url %} генерирует готовую строку с абсолютным путем. Для поста с pk=5 это будет: /post/5/.
    Эта сгенерированная строка и подставляется в атрибут href тега <a>
{% endcomment %}