{% extends "app_blog/base_new.html" %}

{% block content %}
    <h3>Here is NEW BLOG EXTENSION</h3>
    {% for item in posts %}
        <article class="post">
            <time class="date">
                {{ item.published_date }}
            </time>
            <h2><a href="{% url 'post_detail' pk=item.pk %}" class="new-link">{{ item.title }}</a></h2>
            <!-- Что это: Генерация URL-адреса с помощью тега url. результате: Абсолютный путь к странице конкретного поста
             Разберем по частям:
                'post_detail' — имя маршрута (path name) из urls.py
                pk=item.pk — передача параметра (первичный ключ поста)
                item.pk — уникальный ID поста из базы данных-->
            <p>{{ item.text|linebreaksbr }}</p>
        </article>
    {% endfor %}
{% endblock %}