<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext">
    <link rel="stylesheet" href="{% static 'css/new.css' %}">
    <title>{{ title }}</title>
</head>
<body>
    <header class="page-header">
        <div>
            <a href="/" class="logo-link"><img src="{% static 'app_blog/images/python_3d_icon.png' %}" alt="Логотип Python" width="120"></a>
        </div>
            <h1><a href="/" class="site-title"">My Blog</a></h1>
        </div>
    </header>
    <main class="container">
        <div class="row">
            <div class="col">
                {% for item in posts %}
                    <article class="post">
                        <time class="date">
                            {{ item.published_date }}
                        </time>
                        <h2><a href="">{{ item.title }}</a></h2>
                        <p>{{ item.text|linebreaksbr }}</p>
                    </article>
                {% endfor %}
            </div>
        </div>
    </main>
    <footer>
    </footer>
</body>
</html>